PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://cultural_user:cultural_password@localhost:5432/cultural_projects_db?schema=public"
JWT_SECRET="supersecret_jwt_cultural_projects_2026_key"
GOOGLE_DRIVE_CREDENTIALS_PATH="./config/credentials.json"
GOOGLE_DRIVE_PARENT_FOLDER_ID=""
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
